*/babel/*.json
.idea
.vscode
*__pycache__*
*.egg-info
outputs/*
output/*
rendered_images/*
*tmp*
results/*
exps/*
.DS_Store
**/.DS_Store
wandb/*
newton_source/*
data/amass/*.pkl
data/easymimic/assets/
data/easymimic/*.ckpt
data/easymimic/*.pt
data/pretrained_models/motion_tracker/smpl-terrains/failed_motions/
data/pretrained_models/motion_tracker/smpl-terrains/results/
.claude/*
!.claude/commands/
.cursor/
renders/
